@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang web của bạn</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
    li {
        display:inline-block;
        width:100px;
    }
</style>
<body>
    <ul>
        <li><a href="~/home/TrangChu">Trang chủ</a></li>
        <li><a href="~/home/GioiThieu">Giới thiệu</a></li>
        <li><a href="~/TinTuc/DanhSachTinTuc">Tin tức</a></li>
    </ul>
</body>
</html>


