@{
    Layout = "~/views/shared/layoutuser.cshtml";
    ViewBag.title = "Danh sách tin tức";
    ViewBag.tintuc = "active";
    ViewBag.danhsachsinhvien = new List<string> { "Anh phuong", "Phuc loc" };
}

<h1>Đây là trang danh sách tin tức trong controller tin tức</h1>
